<div class="layout-container">
    <app-header class="header"></app-header>
    <div class="main-wrapper">
        <app-sidebar class="sidebar" [class.collapsed]="!isSidebarOpen" [isSidebarOpen]="isSidebarOpen"
            (toggle)="toggleSidebar()"></app-sidebar>
        <main class="main-content" [class.expanded]="!isSidebarOpen">
            <div class="scrollable-content">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </main>
    </div>
</div>