<aside class="sidebar" [class.collapsed]="!isSidebarOpen">
    <button mat-icon-button class="toggle-btn" (click)="onToggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="menu-scroll">

    <nav class="menu-items">

      <ul class="nav-list">
    
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <mat-icon>home</mat-icon>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/patient-registration" routerLinkActive="active" class="nav-link">
            <mat-icon>person_add</mat-icon>
            <span class="nav-text">Registration</span>
          </a>
        </li>

      </ul>
    
    </nav>
    </div>
</aside>