.header-toolbar {
    display: flex;
    align-items: center;
  }
  
  .app-title {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .head {
    background: linear-gradient(to right, #4099ff, #73b4ff);

  }
  